<canvas class="ball-container" #myCanvas height="400"></canvas>
<div>
    Speed or slowdown time
    <input type="range" min="0" max="2" step="0.01" [(ngModel)]="playbackSpeed" />
    Current speed factor: {{playbackSpeed}}
</div>
<div>
    <button (mousedown)="rewindTime = true" (mouseup)="rewindTime = false">Hold Button to Rewind time!</button>
</div>
<div>
    <label>Instance Limit (Keep this low if you do not have that much system resources)</label>
    <input [(ngModel)]="simulation.instanceLimit"> {{simulation.instanceLimit}}
</div>